<h2>Take a hike, Friend.</h2>
<p>(Or just die slowly.)</p>


<div class="row">
  <!-- <div class="" -->
    <ul>
      {{#each model as |hike|}}
        <li>{{hike.name}}</li>
        <li><img src={{hike.image}}></li>
      {{/each}}
    </ul>
</div>
